extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li 
      a(href='aupairs/register') Au-pair registration
    li 
      a(href='aupairs/search') Au-pairs - Search for your family
    li 
      a(href='families/register') Family registration
    li 
      a(href='families/search') Families - Search for your Au-pair
